<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body ng-controller="mainController">
    <header ng-if="isBusinessPage">
        <div ng-controller="topController" ng-include="topNavURL"></div>
    </header>

    <div ng-class="{'content-login': isLoginPage, 'content-business': isBusinessPage}">
        <div ui-view style="overflow:auto;height:100%;position:relative;"></div>
    </div>
    <footer ng-if="isLoginPage" ng-controller="footerController" ng-include="footerURL"></footer>
</body>
</html>