<style>
    .form-container{
        max-width: 320px;
        margin: -100px auto 0;
        padding: 15px 40px; 
        border: 1px solid #ced4da;
        border-radius: 3px;
        background-color: #fff;
    }

    .login-bg{
        height:100%;
        margin: 0 auto;
        display:flex; /* 实现垂直居中 display:flex;align-items:center; */
        align-items:center;
    }
</style>

<div class="login-bg">
    <form class="form-container">
        <div class="form-row form-group">
            <input type="text" class="form-control" autofocus placeholder="用户名" ng-model="model.name">
        </div>
        <div class="form-row form-group">
            <input type="password" class="form-control" ng-model="model.pwd">
        </div>
        <div class="from-row from-group">
            <label class="col-from-label color-red" ng-bind="errorInfo"></label>
        </div>
        <div class="form-row">
            <button class="btn btn-primary btn-block" type="button" ng-click="action.login()">登录</button>
        </div>
    </form>
</div>
