<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><% htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div class="container" ng-controller="mainController">
        <label for="">
            用户名<input type="text" ng-model="user.name">
        </label>
        <label for="">
            密码<input type="password" ng-model="user.pwd">
        </label>
        <div>
            <button class="btn btn-primary" ng-click="login()">登录</button>
            <button class="btn btn-primary" ng-click="register()">注册</button>
        </div>
    </div>
</body>
</html>