<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" ui-sref="home">
        管理系统
    </a>
    <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" ui-sref="home">首页</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" ui-sref="manager">管理</a>
            </li> -->
        </ul>

        <!-- <form class="form-inline my-2 my-lg-0">

            <button class="btn btn-link my-2 my-sm-0" ng-click="action.loginOut()">注销</button>
        </form> -->
        <div class="navbar-nav my-2 my-lg-0">
             <span class="user-icon"></span>
             
             <div class="dropdown-menu">
                <a class="dropdown-item" href="#">退出</a>
            </div>
            <div class="dropdown">
                <a class="btn btn-link dropdown-toggle color-write" ng-click="action.openMenu()">admin</a>
                <div class="dropdown-menu dropdown-menu-right" ng-class="{show: model.isOpen}">
                    <a class="dropdown-item" ng-click="">用户信息</a>
                    <a class="dropdown-item" ng-click="">修改</a>
                    <a class="dropdown-item" ng-click="action.loginOut()">退出</a>
                </div>
            </div>
        </div>
    </div>
</nav>