<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" >重置密码</h5>
            <button type="button" class="close"  aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <p>
                {{name}}
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" >确定</button>
            <button type="button" class="btn btn-secondary" ng-click="action.cancel()">取消</button>
        </div>
    </div>
</div>