<style>
    .form-container{
        max-width: 320px;
        margin: -100px auto 0;
        padding: 40px; 
        border: 1px solid #ced4da;
        border-radius: 3px;
        background-color: #fff;
    }

    .login-bg{
        height:100%;
        margin: 0 auto;
        display:flex; /* 实现垂直居中 display:flex;align-items:center; */
        align-items:center;
    }
</style>

<div class="login-bg">
    <form class="form-container">
        <div class="form-row form-group">
            <div class="input-group">
                <span class="input-group-addon">
                        <img ng-src="/common/img/icon-user.svg" width="18px" style="user-select:none;">
                </span>
                <input type="text" class="form-control" autofocus ng-model="model.user.name">
            </div>
        </div>
        <div class="form-row form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <img ng-src="/common/img/icon-pwd.svg" width="18px" style="user-select:none;">
                </span>
                <input type="password" class="form-control" ng-model="model.user.pwd" ng-class="{'is-invalid': model.errorState}">
            </div>
            <!-- <div class="invalid-feedback" ng-if="model.errorState" ng-bind="model.errorInfo"></div> -->
        </div>
        <div class="form-row">
            <button class="btn btn-primary btn-block" type="button" 
                ng-disabled="model.disabled()" ng-click="action.login()">登录</button>
        </div>
    </form>
</div>
